# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/libs/libbox.aar

# Temp & Debug files
*.ps1
*.bat
*.png
*.xml
*.txt
*.zip
android/app/libs/libbox_aar_extract/
android/app/libs/libbox_temp/
android/app/libs/libbox_temp.zip
android/app/libs/libbox_temp_new/
android/app/libs/classes.zip
android/app/libs/classes_extracted/
android/app/build/
.gradle/
all_logcat.txt
flutter_logcat.txt
flutter_run_log.txt
live_logcat2.txt
log_150s.txt
logcat.txt
logcat_ansi*.txt
query_slowdns.ps1
screen*.png
ui_dump*.xml
waledbox_capture.txt
window_dump*.xml
