rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow read: if isAdmin();
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }

    match /admins/{adminId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email != null
        && (
          request.auth.token.email == 'darkshadowdx3@gmail.com'
          || request.auth.token.email == 'waledpro.f@gmail.com'
        );
    }
  }
}
